@import "tailwindcss";

@font-face {
  font-family: "title";
  src: url("../fonts/kong_japanese/kong_japanese.ttf");
}
@font-face {
  font-family: "context";
  src: url("../fonts/Crispy_Food.ttf");
}

body {
  position: relative;
  margin: 0px 30px;
  background-color: #d6b9a6;
  color: whitesmoke;
  font-family: "context";
}

h1 {
  font-family: "title";
}
